* {
  box-sizing: border-box;
}
.header-top-content {
  height:10vh;
  padding: 2vh 5vw;
  background-color: rgb(001, 093, 178);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-content{
  display: flex;
  justify-content: flex-end;
  color: white;
}
.rebook-icon {
  width: 5vw;
  color: white;
  
}
.sarch-form{
  color: white;
}
.login {
  width: 5vw;
  padding: 0px auto ;
  margin-right:10px;
  color: white;
}
.sign-up{
  width: 5vw;
  padding: 0px auto ;
  margin-right:10px;
  color: white;
}
.user-nickname {
  width: 5vw;
  padding: 0px auto ;
  margin-right:10px;
  color: white;
}
.logout {
  width: 5vw;
  padding: 0px auto ;
  margin-right:10px;
  color: white;
}

.link-top-page{
  height: 5vh;
  width: calc( 100vw / 3vw );
}