<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
    

    <title>re3-book</title>
  </head>
  <body>
    <div class = "boxA">
      <div class="box1">
        <div class="site">
          <h1><a href="#">re3-book</a></h1>
        </div>
      </div>
      <div class = "box2">
        box2
      </div>
  </div>
    <div class = "box3">
      box3
    </div>
    <div class = "box4">
      box4
    </div>
    <div class = "box5">
      box5
    </div>
  </body>
</html>