
<%= render "shared/header" %>

<div class='book-index'>
  <h1 class='title'>書籍一覧</h1> 
  <ul class='book-lists'>
   <li class='list'>
    <div class='book-title'>本のタイトル</div>
    <div class='book-image'>画像</div>
    <div class='level-of-achievement'>達成度</div>
   </li>
   <li class='list'>
    <div class='book-title'>本のタイトル</div>
    <div class='book-image'>画像</div>
    <div class='level-of-achievement'>達成度</div>
   </li>
   <li class='list'>
    <div class='book-title'>本のタイトル</div>
    <div class='book-image'>画像</div>
    <div class='level-of-achievement'>達成度</div>
   </li>
   <li class='list'>
    <div class='book-title'>本のタイトル</div>
    <div class='book-image'>画像</div>
    <div class='level-of-achievement'>達成度</div>
   </li>
  </ul>

</div>