

.top-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


* {
  box-sizing: border-box;
}
.slider {
  width: 80vw;
  height: 90vh;
  text-align: center;
  overflow: hidden;
}
 
.slides {
  height: 100%;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 500px;
  height: 90%;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.book-index{
  width: 100vw;
  height: 100vh; 
  background-image: url(top.jpg);
  background-size: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.list-box{
  display: flex;
  justify-content: space-around;
}

.book-lists{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
}
.list{
  width: 500px;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.book-top-title{
  font-size: 20%;
}
.book-top-page{
  font-size: 20%;
}
.book-top-author{
  font-size: 20%;
}
.book-image{
  width: 100%;
  height: 100%;
}
 
 .book-img{
  max-width:500px;
  max-height:500px;
  min-width:400px;
  min-height:400px;
 }
