
.book-index{
  width: 100vw;
  height: 100vh; 
  background-image: url(top.jpg);
  background-size: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.book-lists{
  width: 90vw;
  height: 70vh;
  margin: 100px,100px;
  /* background-color: white; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-image: url(".../images/51toc9+oErL._SY344_BO1,204,203,200_.jpg"); */
  
  position:relative;
}
.list{
  width: 20vw;
  height: 65vh;
  background-color: rgb(005, 033, 092);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.top-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(237, 241, 243); */
}


.list-box{
  display: flex;
  justify-content: space-between;
}