.background{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content:space-around;
  background-image: url('top2.jpg');
  align-items: center;
}

.book-info{
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-left:100px;
}
.book-show{
  display: flex;
  justify-content: center;
  flex-direction: column; 
}

.book-show-img{
  max-width:700px;
  max-height:700px;
  min-width:500px;
  min-height:500px;
}

.book-show-image{
  width: 100%;
  height: 100%;
}
.action-icons{
  height:100vh;
  width: 75vw;
  display: flex;
  justify-content:space-around;
  background-size:contain;
  background-image: url('8302caf80e5ff1dfded5d6d6f6c7b692.png');
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.action-icon{
  width: 45%;
  height: 80%;
  justify-content: center;
  flex-direction: column; 
  margin-left:100px;
}
.book-show-preparation{
  width: 95%;
  height: 50%;
  
}
.book-show-output{
  width: 95%;
  height: 50%;
  
}

/* .book-icon{
  width: 400px;
  height: 500px;
  background-color:blue ;
} */