/* blog&news */
@charset "UTF-8";

body{
  margin: 0;
  font-family: 'メイリオ',
                'Hiragino Kaku Gothic Pro' sans-serif
}
/* ########## 768px 以上 ##########*/
/* box1とbox2を横に並べる設定 */
.boxA:after{
  content:"";
  display: block;
  clear: both;
}
.box1{
  float: left;
  width: auto;
  
}
.box2{
  float: right;
  width: auto;
}
/* サイト名 */
.site h1 a{
  text-decoration: none;
}
.site h1{
  margin:0;
  font-size:30px;
}
.site img{
  border:none
}
/* ログイン情報 */
.login-info ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.sign-up,.login,.logout,.user-nickname{
  display: block;
  padding: 10px 15px;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.sign-up:hover,.login:hover,.logout:hover,.user-nickname:hover{
  background-color: #eeeeee;
}
.login-info ul:after{ 
  content:"";
  clear:both;
}
.login-info li {
  float:right;
  width: auto;
}
/* ナビゲーション */
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; 
}
.menu li a{
  display:block;
  padding: 5px;
  color: #eeeeee;
  font-size: 14px;
  text-decoration: none;
}
.menu li a:hover{
  content: "";
  display: block;
  clear:both;
  background-color: rgb(005, 033, 092);
}
.menu ul:after{
  content:"";
  display:block;
  clear:both;
}
.menu li{
  display: inline-block;
  width: auto;
}
.book-btn{
  color:white;
}
/* 背景画像 */
.backimg{
  max-width:100%;
  height:auto;
  vertical-align: bottom;
}

/* 本一覧表示 */
.bottom{
  position: relative;
}
.slider{
  position: absolute;
  top: 2%;
  left: 5% ;
  color: #eeeeee;
}
.slides ul {
  list-style: none;
}
.slides li {
  color: #000000;
}
.booklink{
  text-decoration: none;
}

/* ボックスの左右 */
.boxA,.box3{
  padding-left: 15px;
  padding-right: 15px;
}
/* ボックスの上下 */
.boxA{
  padding-top:20px;
  padding-bottom: 10px;
  background-color: rgb(255, 255, 255);
}
.box3{
  padding-top:10px;
  padding-bottom: 10px;
  background-color:rgb(001, 093, 1782);
}

//show
//配置
.box5{
  width: 100%;
}
.boxB{
  content:"";
  display:block;
  clear:both;
}
.box6{
  float: left;
  width: 40%;
  height: 700px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 10%;
  margin-top: 5%;
  background-color: #eeeeee;
  border: solid 10px rgb(005, 033, 092);
  overflow: scroll;
}
.box7{
  float: right;
  width: 40%;
  height: 700px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-right: 10%;
  margin-top: 5%;
  background-color: #eeeeee;
  border: solid 10px rgb(005, 033, 092);
  overflow-wrap: break-word;
  overflow: scroll;
}
.button{
  display:block;
  text-align: center;
}

//背景
.box5{
  height:100vh;
  width: 100vw;
  background-image: image-url('/assets/books/retop2.jpg');
}
//リンクデザイン
.box6 ul,.box7 ul{
  list-style: none;
}
.box6 li a{
  text-decoration: none;
  color: #000000;
}

.box7 h1 a{
  text-decoration: none;
  color: #000000;
}
.button a{
  text-decoration: none;
  color: #000000;
} 



